/docker/mongodb/data/_mdb_catalog.wt
/docker/mongodb/data/collection-0--1225232138859885736.wt
/docker/mongodb/data/collection-2--1225232138859885736.wt
/docker/mongodb/data/collection-4--1225232138859885736.wt
/docker/mongodb/data/index-1--1225232138859885736.wt
/docker/mongodb/data/index-3--1225232138859885736.wt
/docker/mongodb/data/index-5--1225232138859885736.wt
/docker/mongodb/data/index-6--1225232138859885736.wt
/docker/mongodb/data/diagnostic.data/metrics.2025-10-10T17-55-42Z-00000
/docker/mongodb/data/diagnostic.data/metrics.2025-10-10T19-48-57Z-00000
/docker/mongodb/data/diagnostic.data/metrics.2025-10-10T20-54-26Z-00000
/docker/mongodb/data/diagnostic.data/metrics.interim
/docker/mongodb/data/mongod.lock
/docker/mongodb/data/sizeStorer.wt
/docker/mongodb/data/storage.bson
/docker/mongodb/data/WiredTiger
/docker/mongodb/data/WiredTiger.lock
/docker/mongodb/data/WiredTiger.turtle
/docker/mongodb/data/WiredTiger.wt
/docker/mongodb/data/WiredTigerHS.wt
/docker/mongodb/data/journal/WiredTigerLog.0000000003
/docker/mongodb/data/journal/WiredTigerPreplog.0000000001
/docker/mongodb/data/journal/WiredTigerPreplog.0000000002
/mongo-data/diagnostic.data/metrics.2025-10-10T21-20-13Z-00000
/mongo-data/index-11-12409899534994978753.wt
/mongo-data/storage.bson
/mongo-data/diagnostic.data/metrics.interim
/mongo-data/collection-0-12409899534994978753.wt
/mongo-data/collection-10-12409899534994978753.wt
/mongo-data/index-8-12409899534994978753.wt
/mongo-data/journal/WiredTigerLog.0000000001
/mongo-data/WiredTiger.wt
/mongo-data/_mdb_catalog.wt
/mongo-data/index-12-12409899534994978753.wt
/mongo-data/collection-7-12409899534994978753.wt
/mongo-data/sizeStorer.wt
/mongo-data/mongod.lock
/mongo-data/index-6-12409899534994978753.wt
/mongo-data/collection-2-12409899534994978753.wt
/mongo-data/WiredTiger.turtle
/mongo-data/WiredTigerHS.wt
/mongo-data/index-1-12409899534994978753.wt
/mongo-data/collection-4-12409899534994978753.wt
/mongo-data/WiredTiger.lock
/mongo-data/index-9-12409899534994978753.wt
/mongo-data/index-3-12409899534994978753.wt
/mongo-data/journal/WiredTigerPreplog.0000000001
/mongo-data/WiredTiger
/mongo-data/index-5-12409899534994978753.wt
