/docker/mongodb/data/_mdb_catalog.wt
/docker/mongodb/data/collection-0--1225232138859885736.wt
/docker/mongodb/data/collection-2--1225232138859885736.wt
/docker/mongodb/data/collection-4--1225232138859885736.wt
/docker/mongodb/data/index-1--1225232138859885736.wt
/docker/mongodb/data/index-3--1225232138859885736.wt
/docker/mongodb/data/index-5--1225232138859885736.wt
/docker/mongodb/data/index-6--1225232138859885736.wt
/docker/mongodb/data/diagnostic.data/metrics.2025-10-10T17-55-42Z-00000
/docker/mongodb/data/diagnostic.data/metrics.2025-10-10T19-48-57Z-00000
/docker/mongodb/data/diagnostic.data/metrics.2025-10-10T20-54-26Z-00000
/docker/mongodb/data/diagnostic.data/metrics.interim
/docker/mongodb/data/mongod.lock
/docker/mongodb/data/sizeStorer.wt
/docker/mongodb/data/storage.bson
/docker/mongodb/data/WiredTiger
/docker/mongodb/data/WiredTiger.lock
/docker/mongodb/data/WiredTiger.turtle
/docker/mongodb/data/WiredTiger.wt
/docker/mongodb/data/WiredTigerHS.wt
/docker/mongodb/data/journal/WiredTigerLog.0000000003
/docker/mongodb/data/journal/WiredTigerPreplog.0000000001
/docker/mongodb/data/journal/WiredTigerPreplog.0000000002
